body {
  font-family: "Lora", serif;
  color: #2c1d14;
  background-color: #dfe6ec;
  margin: 0 5px 15px 5px;
}
h1,
h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #1b401f;
  font-weight: normal;
}
h1 {
  margin: 30px auto 5px auto;
  font-size: 25px;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  margin: 10px auto;
  color: #1b401f;
}
p {
  font-size: 16px;
  line-height: 27px;
}
article {
  font-size: 16px;
  line-height: 27px;
}
i {
  color: #1b401f;
  font-size: 25px;
}
.carousel {
  margin: 20px auto;
}

button {
  padding: 10px;
  text-transform: uppercase;
  color: #bd96c5;
  background: #efe5db;
  border: 2px solid #bd96c5;
  border-radius: 100px;
  transition: all 150ms ease;
}
button:hover {
  cursor: pointer;
  color: #efe5db;
  background: #bd96c5;
}
header {
  position: sticky;
  top: 0px;
  background-color: #dfe6ec;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 950;
}
.blog-title {
  display: inline;
  text-transform: uppercase;
  font-family: "Lora", serif;
  text-align: left;
  color: #1b401f;
  font-size: 20px;
}

ul.menu-bar {
  float: right;
  list-style: none;
  margin: 0 0 2.5px 0;
  font-family: "Montserrat", sans-serif;
  color: #1b401f;
  font-size: 15px;
}
.menu-element {
  display: inline;
  padding-inline: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  transition: all 100ms ease;
}
.menu-element:hover {
  cursor: pointer;
  background: #1b401f;
  color: #efe5db;
  border-radius: 100px;
}
li.icon {
  display: inline;
  margin: 15px;
  text-transform: uppercase;
  transition: all 100ms ease;
}
li.icon:hover {
  cursor: pointer;
}
.text-full-page {
  padding: 0 20px;
  text-align: center;
  margin: 0 auto;
}
.full-page-img {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  width: 1100px;
  max-width: 100%;
  height: auto;
}
.post-container {
  padding: 20px;
  border-radius: 30px;
  background-color: #efe5db;
}
